@using Gm.UI.HtmlExtenssions
@model GM.Core.Models.BonEntree

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.FournisseurId)
        @Html.HiddenFor(model => model.ClientId)
        @Html.HiddenFor(model => model.FactureId)
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="control-group">
            @Html.LabelFor(model => model.NumPiece, htmlAttributes: new {@class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(model => model.NumPiece, new {htmlAttributes = new { @style = "width: 215px;"}})
                @Html.ValidationMessageFor(model => model.NumPiece, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new {@class = "control-label"})
            <div class="controls">
                <input type="text" style="width: 200px" name="Date" id="Date" value="@Convert.ToDateTime(Model.Date).ToShortDateString()" />
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.MagasinId, htmlAttributes: new {@class = "control-label"})
            <div class="controls">
                @Html.Custom_DropdownList("MagasinId", ViewData["magasin"] as SelectList, htmlAttributes: new { @style = "width: 215px;height: 35px" })
                @Html.ValidationMessageFor(model => model.MagasinId, "", new {@class = "text-danger"})
            </div>
        </div>




    </div>
}
<script type="text/javascript">
    $('#Date').datepicker({
        format: 'dd/mm/yyyy'
    });
</script>


