@model Gm.UI.Areas.Gestion.Models.UtilisateurModel

<div >
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-horizontal">
            <fieldset>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

              
                    @Html.HiddenFor(model => model.RoleId)

             
                <div class="control-group">
                    @Html.LabelFor(model => model.Pseudo, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Pseudo, new { htmlAttributes = new { @class = "input-xlarge" } })
                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-xlarge" } })
                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="controls">
                    <input type="submit" value="Recherche" id="search" class="btn" />
                </div>
            </fieldset>

        </div>
    }

</div>
